<html>

	<head>

		<link rel="stylesheet" type="text/css" href="/public/css/discussion.css"></link>
    	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css"> -->
    	<link rel="stylesheet" type="text/css" href="/public/css/profile.css">
        <script type="text/javascript" src="/public/js/jquery_1.9.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    	<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <style>
            #chat{
                height: 500px;
            }

        </style>

	</head>

<body style="background-color: white;">

    <div id="chat"></div>

    <form id="send-message">
        <input size="35" id="message"></input>
        <input type="submit"></input>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        jQuery(function($){
            var socket = io.connect();
            var $messageForm = $('#send-message');
            var $messageBox = $('#message');
            var $chat = $('#chat');

            // Emit data to the server
            $messageForm.submit(function(e){
                e.preventDefault();
                socket.emit('send message', $messageBox.val());
                console.log($messageBox.val());
                $messageBox.val('');
            });

            // Receive broadcast data from the server
            socket.on('new message', function(data){
                console.log("This is the received data " + data);
                $chat.append(data + "<br/>");
            });
        });
    </script>
</body>

</html>



























