<html>
	<head>
		<title>
			Discover new ideas!
		</title>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="/public/css/landing.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/public/js/landing.js"></script>

	</head>
	<body>
		<nav class= "navbar navbar-default " id="landingBar" style="color: #446cb3">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" style="color:white"> Invenire </a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><p class="navbar-text"><a href="#second" style="color:white">About</a></p></li>
					<li class="active"><p class="navbar-text"><a href="#third" style="color:white">Features</a></p></li>
					<li class="active"><p class="navbar-text"><a href="#" style="color:white">The Team</a></p></li>
				</ul>
			<div>
		</nav>

		<div class="jumbotron" style="background-color: #446cb3;" id="first"> 
			<div id="mainText">
			<center>
				<h1 style="color: white" id="mainTitle"> Invenire </h1> 
				<p style="color: white; font-size: 2em;" id="largeCaption"> A new way to discover and discuss ideas! </p>
				<span style="font-size: 2em; color: white;" class="glyphicon glyphicon-chevron-down" id="down"></span>
			</center>
			<center>
				<button type="button" class="btn btn-primary" id="outline"><p>Start Here!</p></button>
			</div>
			</center>
		</div>
		<div class="container-fluid" id="second">
			<center>
				<h4 id = "secondTitle"> Hold Meaningful Discussions </h4>
			</center>
		</div>
		<div class="container-fluid" id="third" style="background-color: #ececec">
			<center>
				<h4 id="secondTitle">Features</h4>
			</center>
		</div>
		<div class="container-fluid" id="getStarted">
			<center>
				<h4 id="textOnDark"> Start your discovery of new ideas! </h4>
			</center>
			<center>
				<button type="button" class="btn btn-primary" id="outline2">Start Here!</button>
			</center>
		</div>
		<div class="container-fluid" id="theTeam">
			<center>
				<h4 id="textOnLight"> Meet the Team </h4>
			</center>
		</div>
		<div class="container-fluid" id="footer">
			<center>
			</center>
		</div>
	</body>
</html>

















