<html>
	<head>
		<title>
			Discover new ideas!
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/landing.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/public/js/landing.js"></script>
	    <script type="text/javascript" src="/public/js/jquery_1.9.js"></script>
	    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>

	</head>
	<body>

<!--
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: white">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#" style="color:#343456">Invenire</a>
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
	                	<span class="icon-bar"></span>
	                </button>
	            </div>
	            <div class="collapse navbar-collapse" id="navbar-container">
	                <ul class="nav navbar-nav">
	                    <li id="navListElement"><a href="#second" style="color:#343456">About</a></li>
	                    <li id="navListElement"><a href="#third" style="color: #343456">Features</a></li> 
	                    <li id="navListElement"><a href="#theTeam" style="color: #343456">The Team</a></li>          
	                </ul>
	            </div>
	        </div>
	    </nav> -->

		<div class="jumbotron" style="background-color: #2574a9;" id="first"> 
			<div id="mainText">
			<center>
				<h1 style="color: white" id="mainTitle"> Invenire </h1> 
				<p style="color: white; font-size: 1.5em;" id="largeCaption"> A new way to discover and discuss ideas! </p>
				<!--<span style="font-size: 2em; color: white;" class="glyphicon glyphicon-chevron-down" id="down"></span> -->
			</center>
			<center>
                <!------ LOGIN -------->
                <button type="button" id="outline" class="btn btn-Login-outline" data-toggle="modal" data-target="#login-modal">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button>
                
                <!------ LOGIN MODAL -------->
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Welcome!</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input id="submitLogin" type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
                <!------ Sign Up -------->
                <button type="button" class="btn btn-SignUp-outline" id="outline1">&nbsp;&nbsp;Sign Up&nbsp;&nbsp;</button>
                
                <!------ Browse as guest -------->
                <p style="padding: 10px; color: white; font-size: 12pt;" onclick="window.location='./sample';">Browse as guest . . .</p>
			</div>
			</center>
		</div>

		<!-- 

		<div class="container-fluid" id="second">
			<div class="col-lg-12 col-md-12 col-sm-12">
			<center>
				<p id = "largeCaption" style="margin-top: 8vh; margin-bottom: 7v"> About </h4>
			</center>
			</div>
		</div>

		<div class="container-fluid" id="third" style="background-color: #ececec">
			<center>
				<p id = "largeCaption" style="margin-top: 8vh; margin-bottom: 7vh">Features</h4>
			</center>
				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3> Speak </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>

                	<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
				</div>

				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3> Draw </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>
                	</h3>
                	<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
				</div>

				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3> Type </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>
                	</h3>
                	<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
				</div>
		</div>


		<div class="container-fluid" id="getStarted">
			<center>
				<p id = "largeCaption" style="color: white"> Start your discovery of new ideas! </h4>
			</center>
			<center>
				<button type="button" class="btn btn-primary" id="outline2">Start Here!</button>
			</center>
		</div>


		<div class="container-fluid" id="theTeam">
			<center>
				<p id = "largeCaption" style="margin-top: 8vh; margin-bottom: 7vh"> Meet the Team </h4>
			</center>

				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3>Harrison Wang </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>

                	<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
				</div>

				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3>James Natanauan </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>
                	</h3>
                	<p>James is a 4th year computer science student at UCSD who is passionate about HCI, 3D computer graphics, and web development!</p>
				</div>

				<div class = "col-lg-4 col-md-4 col-sm-12">
					<center>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
					</center>
                	<center><h3>Kann Chea </h3></center>
                    <center><h3><small>Web Developer</small></h3></center>
                	</h3>
                	<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
				</div>


		</div>
		<div class="container-fluid" id="footer">
			<center>
			</center>
		</div>
-->

	</body>
</html>