<html>
	<head>
		<title>
			Discover new ideas!
		</title>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/flat-ui.css">

		<style>
			#first{
				height:100vh;
			}
			#second{
				height: 100vh;
			}
			#down{
				position: relative;
				top: 450px;
			}
		</style>

	</head>
	<body>

		<nav class= "navbar-default">
		</nav>

		<div class="jumbotron" style="background-color: #446cb3" id="first"> 
			<center>
				<h1 style="color: white"> Invenire </h1> 
				<p style="color: white"> A new way to discover and discuss ideas! </p>
				<span style="font-size: 2em; color: white;" class="glyphicon glyphicon-chevron-down" id="down"></span>
			</center>
		</div>
		<div class="container-fluid" id="second">
			<center>
				<h4> Hold Meaningful Discussions </h4>
			</center>
		</div>
	</body>
</html>