<html>
	<head>
		<title>
			Discover new ideas!
		</title>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/css/flat-ui.css">
		<link rel="stylesheet" type="text/css" href="/public/css/landing.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/public/js/landing.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="/public/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/public/css/round-about.css" rel="stylesheet">

	</head>
	<body>
		
		<nav class= "navbar navbar-default navbar-fixed-top" id="landingBar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#" style="color:white"> Invenire </a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><p class="navbar-text"><a href="#second" style="color:white">About</a></p></li>
					<li class="active"><p class="navbar-text"><a href="#third" style="color:white">Features</a></p></li>
					<li class="active"><p class="navbar-text"><a href="#theTeam" style="color:white">The Team</a></p></li>
				</ul>
			<div>
		</nav> 

		<div class="jumbotron" style="background-color: #2574a9;" id="first"> 
			<div id="mainText">
			<center>
				<h1 style="color: white" id="mainTitle"> Invenire </h1> 
				<p style="color: white; font-size: 1.5em;" id="largeCaption"> A new way to discover and discuss ideas! </p>
				<span style="font-size: 2em; color: white;" class="glyphicon glyphicon-chevron-down" id="down"></span>
			</center>
			<center>
				<button type="button" class="btn btn-primary" id="outline" onclick="window.location='./sample';"><p>Start Here!</p></button>
			</div>
			</center>
		</div>
		<div class="container-fluid" id="second">
			<center>
				<p id = "largeCaption" style="color: white"> About </h4>
			</center>
		</div>
		<div class="container-fluid" id="third" style="background-color: #ececec">
			<center>
				<p id = "largeCaption">Features</h4>
			</center>
		</div>
		<div class="container-fluid" id="getStarted">
			<center>
				<p id = "largeCaption" style="color: white"> Start your discovery of new ideas! </h4>
			</center>
			<center>
				<button type="button" class="btn btn-primary" id="outline2">Start Here!</button>
			</center>
		</div>
		<div class="container-fluid" id="theTeam">
			<center>
            <div class="col-lg-12">
                <h2 class="page-header">Meet the Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Harrison
                    <small>Web Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>James
                    <small>Web Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Kann
                    <small>Web Developer</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
			</center>
		</div>
		<div class="container-fluid" id="footer">
			<center>
			</center>
		</div>
	</body>
</html>

















