<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/newpost.css">
        <script type="text/javascript" src="/public/js/jquery_1.9.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
		<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <!-- Text Editor -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
	<head>

	<body>

    <nav class="navbar navbar-default" role="navigation" style="background-color: white">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href='/sample'>Invenire</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-container">
	            	<form class="navbar-form" role="search">
	            		<div class = "form=group">
	                		<ul class="nav navbar-nav navbar-right">
	                    		<li id="navListElement"><a href="./profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>          
	                		</ul>
    					</div>
    				</form>
	       </div>
        </div>
    </nav>

		<div class="container">
            
            <!-- Title box -->
            <fieldset class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" id="column" placeholder="Title" name="column">
            </fieldset>
            
            <!-- Post Catogories -->
            <fieldset class="form-group">
                <label for="exampleSelect1">Categories</label>
                <select class="form-control" id="category">
                    <option>Art</option>
                    <option>Travel</option>
                    <option>Food</option>
                    <option>Music</option>
                    <option>Dream</option>
                </select>
            </fieldset>
            
            <fieldset class="form-group">
                <div class="btn-group">
                    <i class="fa fa-bold"></i>
                    <i class="fa fa-italic"></i>
                    <i class="fa fa-font"></i>
                    <i class="fa fa-strikethrough"></i>
                    <i class="fa fa-align-left"></i>
                    <i class="fa fa-align-justify"></i>
                    <i class="fa fa-align-right"></i>
                    <i class="fa fa-list"></i>
                    <i class="fa fa-columns"></i>
                    <i class="fa fa-camera-retro fa-lg" type="file" class="form-control-file" id="exampleInputFile"></i>
                </div>

                <textarea type="text" class="form-control" id="description" placeholder="Description" name="description" rows="3" style="height: 30vh;">
                
                </textarea>
            </fieldset>
            
            <input class="btn btn-primary" type="button" name="login" value="Cancel" style="float: right;"  method="get" action="/profile"/ onclick="window.location='./sample';">
            <input class="btn btn-primary" type="button" name="login" value="Save Draft" style="float: right;"  method="get" action="/profile"/ onclick="window.location='./sample';">
            <input class="btn btn-primary" type="button" name="login" value="Post" style="float: right;"  method="get" action="/profile"/ onclick="window.location='./sample';">
        </div>

	</body>

</html>
















