<h1> Post Preview and Joing Page Pending! </h1>
<a href="./discuss"> Case 1: Discussion has space so user can join discussion    </a>
<a href="./liveView"> Case 2: View live stream of AT CAPACITY ongoing discussion </a>