<html>
<head>
    <title>
			My Profile
    </title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="/public/css/prac.css">
    <link rel="stylesheet" type="text/css" href="/public/css/profile.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <style>
        .jumbotron {

        }
    </style>
</head>
    
<body style="background-color: white">

    <nav class="navbar navbar-default" role="navigation" style="background: white" id="mainNav">
    	<div class="container-fluid">
    		<a class="navbar-brand"> Invenire </a>
    		<div id="search">
    			<center>
    				<form class="navbar-form navbar-input-group">

						<input id= "searchBar" type="text" placeholder=" Search">

					</form>
				</center>
    		</div>
    		
    	</div>
    </nav>

    <div class="container-fluid" id="userInfo">
		<div class="jumbotron" style = "background-color: white">
			<div container-fluid>
				<center>

					<img src="http://www.officialpsds.com/images/stocks/Crystal-Square-stock3776-large.png" width="15%"class = "img-circle">
					<h1 style="color: #343456"> JamesNat </h1> 
					<p style="color: gray"> Have you tried turning it off and on again? </p>
				</center>

			<nav class="navbar navbar-default" id="userStats" style="background-color: white;">
				<div class="navbar-inner">
						<ul class="nav navbar-nav" style="margin-top: 3vh">
							<li> <a href="#">Followers <p> 4037 <p> </a> </li>
							<li> <a href="#">Following <p> 9001 <p> </a> </li>
							<li> <a href="#">Posts <p> 13 </p> </a> </li>
							<li> <a href="#">Archived <p> 6 </p> </a> </li>
						</ul>
				</div>
			</nav>
		</div>
	</div>
</div>



</body>
</html>