<html>
<head>
    <title>
			My Profile
    </title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="/public/css/prac.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    
</head>
    
<body>

    <div class="container">
        <div class="jumbotron" style="background-color: pink;">
        <h1>Kann</h1> 
    </div>
    </div>
    <div class="container " id="postDiv">
			<div class="row" id="grid">


				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 centered grid-item" id="post">
					
					<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg">

					<div class="container-fluid" style="background-color: #343456" >
						<h4 style="color:white ">Column 1</h4>
						<p style="color: white"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid">
						<p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>

				</div>



				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://blog.eyewire.org/wp-content/uploads/2013/12/the-human-eye.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 2</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>
					
				</div>





				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://scienceblogs.com/lifelines/files/2014/01/13243547332073393725diving-with-great-white-sharks.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 3</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>

				</div>


				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 centered grid-item" id="post" id="titlebar">
					
					
					<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg">

					<div class="container-fluid" style="background-color: #343456" >
						<h4 style="color:white ">Column 1</h4>
						<p style="color: white"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid">
						<p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>

				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://scienceblogs.com/lifelines/files/2014/01/13243547332073393725diving-with-great-white-sharks.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 3</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>

				</div>


				<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
				<script>
					$('#grid').imagesLoaded( function(){
					  $('#grid').masonry({
					   itemSelector: '#post'
					  });
					});
				</script>
			</div>
		</div>

</body>
</html>