<html>
<head>
    <title>
			My Profile
    </title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/flat/dist/css/flat-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/prac.css">
    <link rel="stylesheet" type="text/css" href="/public/css/profile.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
    
<body style="background-color: white">

    <nav class="navbar navbar-default" role="navigation" style="background: white" id="mainNav">
    	<div class="container-fluid">
    		<a class="navbar-brand"> Invenire </a>
    		<div id="search">
    			<center>
    				<form class="navbar-form navbar-input-group">

						<input id= "searchBar" type="text" placeholder=" Search">

					</form>
				</center>
    		</div>
    		
    	</div>
    </nav>

    <div class="container-fluid" id="userInfo">
		<div class="jumbotron" style = "background-color: white;">

			<center>
				<button type="button" class="btn btn-sm btn-primary" id="followButton">Follow</button>
			</center>

				<center>

					<img src="http://www.officialpsds.com/images/stocks/Crystal-Square-stock3776-large.png" width="15%"class = "img-circle">
					<h1 style="color: #343456"> TonaldDrump </h1> 
					<p style="color: gray"> Have you tried turning it off and on again? </p>
				</center>

			<nav class="navbar navbar-default" id="userStats" style="background-color: white;">
				<div class="navbar-inner">
						<ul class="nav navbar-nav" style="margin-top: 0vh">
							<li> <a href="#">Followers <p> 4037 <p> </a> </li>
							<li> <a href="./following">Following <p> 9001 <p> </a> </li>
							<li> <a href="#">Posts <p> 13 </p> </a> </li>
							<li> <a href="#">Favorites <p> 6 </p> </a> </li>
						</ul>
				</div>
			</nav>


			<center>
				<span style="font-size: 2em; color: #343456; margin-top: 7vh" class="glyphicon glyphicon-chevron-down" id="down"></span>
			</center>

		</div>



	</div>

		<div class="container" id="latestPosts">

			<center> <h3> Latest Posts </h3> </center>

			<div class="row" id="grid">


				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered grid-item" id="post">
					
					<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg">

					<div class="container-fluid" style="background-color: #343456" >
						<h4 style="color:white ">Column 1</h4>
						<p style="color: white"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid">
						<p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>

				</div>



				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://blog.eyewire.org/wp-content/uploads/2013/12/the-human-eye.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 2</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>
					
				</div>





				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://scienceblogs.com/lifelines/files/2014/01/13243547332073393725diving-with-great-white-sharks.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 3</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>

				</div>


				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 centered grid-item" id="post" id="titlebar">
					
					
					<img id="picture" src="http://www.givingbacksmiles.com/wp-content/uploads/2012/06/NAT-GEO-Ad-Tiger.jpg">

					<div class="container-fluid" style="background-color: #343456" >
						<h4 style="color:white ">Column 1</h4>
						<p style="color: white"> This is a subtitle<p>
					</div>
					<div id="content" class="container-fluid">
						<p>The purpose of life is to live it, to taste experience to the utmost, to reach out eagerly and without fear for newer and richer experience.</p>
					</div>

				</div>



				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://blog.eyewire.org/wp-content/uploads/2013/12/the-human-eye.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 2</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>
					
				</div>





				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://scienceblogs.com/lifelines/files/2014/01/13243547332073393725diving-with-great-white-sharks.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 3</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://scienceblogs.com/lifelines/files/2014/01/13243547332073393725diving-with-great-white-sharks.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 3</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 grid-item" id="post" id="titlebar">

					<img id="picture" src="http://blog.eyewire.org/wp-content/uploads/2013/12/the-human-eye.jpg">

					<div class="container-fluid" style="background-color: #343456">
						<h4 style="color:white ">Column 2</h4>
					</div>
					<div id="content" class="container-fluid">
						<p>Compassion is the sometimes fatal capacity for feeling what it is like to live inside somebody else's skin. It's the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
					</div>
					
				</div>


				<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
				<script>
					$('#grid').imagesLoaded( function(){
					  $('#grid').masonry({
					   itemSelector: '#post'
					  });
					});
				</script>
			</div>
		</div>



</body>
</html>