#toolbar{
	height: 100%;
	width: 60px;
	background-color: white;
	position: fixed;
	color: white;
	padding-top: 0;
	padding-left: 0;
	top: 20%;
}
.navbar{
	position: fixed;
	width: 100%;
	bottom: 0;
	border-radius: 0px;
	margin-bottom: 0;
}
#whiteboard{
	width: 100vw;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	background-color: white;
}
#whiteboardContainer{
	margin: 0;
	padding: 0;
}
#brushSize{
	background-color: #313750;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;
	top: 25%;

}
#color{
	background-color: #D64541;
	height: 60px;
	width: 60px;
	margin: 0;
	padding-top: 0;
	vertical-align: top;
	top: 25%;
}
#text{
	background-color: #1FBBA6;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;	
	top: 25%;
}
#mic{
	background-color: #F27935;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;	
	top: 25%;
}
#chat{
	background-color: #00AFD1;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;	
	top: 25%;
}
#clear{
	background-color:  #323A45;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;	
	top: 25%;
}
#leave{
	background-color: #D64541;
	height: 60px;
	width: 60px;
    padding:0;
    margin:0;
	vertical-align: top;	
	top: 25%;
	color: white;
}
#displayInfo{
	width: 80vw;
	background-color: #00AFD1;
	float: right;
	height: 100vh;
}

#textIn{
	width: 80%;
	display: inline-block;
}
#chatWindow{
	height: 80%;
	overflow:auto;
}


@media screen and (max-width: 500px){
	#displayInfo{
		width: 100%;
		background-color: #00AFD1;
		float: right;
		height: 100vh;
	}

	#textIn{
		width: 90%;
	}
	#chatWindow{
		height: 80%;
		padding-top: 15%;
		overflow: auto;
	}
	#toolbar{
		width: 100%;
		height: 40px;
		background-color: white;
		position: fixed;
		color: white;
		padding-top: 0;
		top: 0;
	}
	#brushSize{
		background-color: #313750;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;
		display: inline-block;
	}
	#color{
		background-color: #D64541;
		height: 40px;
		width: 40px;
		margin: 0;
		padding-top: 0;
		vertical-align: top;
		display: inline-block;
	}
	#text{
		background-color: #1FBBA6;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;	
		display: inline-block;
	}
	#mic{
		background-color: #F27935;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;	
		display: inline-block;
	}
	#chat{
		background-color: #00AFD1;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;	
		display: inline-block;
	}
	#clear{
		background-color: #D64541;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;	
		display: inline-block;
	}
	#leave{
		background-color: #323A45;
		height: 40px;
		width: 40px;
	    padding:0;
	    margin:0;
		vertical-align: top;	
		display: inline-block;
	}
}

*{
	font-family: sans-serif;
}
html, body, div, canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}
body{
	position: relative;
}
























