#toolbar{
	width: 100px;
}

.navbar{
	position: fixed;
	width: 100%;
	top: 0;
	border-radius: 0px;
}
#whiteboard{
	width: 100vw;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	background-color: white;
}
html, body, div, canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}
#whiteboardContainer{
	margin: 0;
	padding: 0;
}