#first{
	height:100vh;
}
#second{
	height: 100vh;
}
#third{
	height: 100vh;
}
#getStarted{
	height: 20vh;
	background-color: #446cb3;
}
#theTeam{
	height: 75vh;
}
#down{
	position: relative;
	top: 35vh;
}
#landingBar{
	background-color: #446cb3;
}
#mainText{
	position: relative;
	top: 25vh;
}
#textOnDark{
	font-family: 'Roboto', sans-serif;
	color: white;
}
#textOnLight{
	font-family: 'Roboto', sans-serif;
	color: #34495e;
}
#outline{
	background: none;
	padding: 12px 22px;
	border: 2px solid #ffffff;
	color: #ffffff;
	height: 10%;
	width: 15%;

}
#outline2{
	background: none;
	padding: 12px 22px;
	border: 2px solid #ffffff;
	color: #ffffff;
	height: 35%;
	width: 15%;

}
#secondTitle{
	font-family: 'Roboto', sans-serif;
	color: #34495e;
}
#footer{
	background-color: #2c3e50;
	height: 30vh;
}
.navbar-nav > li > a
    {

    text-align: center;

    display: inline-block;
    vertical-align: middle;
}
#mainTitle{
	font-size: 5em;
}
h4{
	font-size: 2em;
}
#largeCaption{
	font-size: 2em;
}
































